# Fichiers sensibles et configurations locales
.env
.env.*
!.env.example

# Base de données locale
*.sqlite
*.sqlite3
*.db

# Fichiers caches Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Environnement virtuel
venv/
env/
.venv/

# Fichiers système et éditeurs
.DS_Store
.idea/
.vscode/

# Fichiers internes au bot de développement
handoff.md
